!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %title Rooster CMS

    = stylesheet_link_tag "rooster/application"
    = javascript_include_tag "rooster/application"

    = csrf_meta_tags

  %body{ class: "#{controller.controller_name} #{controller.action_name}" }
    .container
      .header
        = render 'rooster/shared/header'
      .main-wrapper
        .header-padding;
        .sidebar
          = render 'rooster/shared/side_menu'
        .main
          = yield
